# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Pyhton
2. Sql
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Github

| --- |
|Data Science Tools|
| --- |
|HADOOP|
|SPARK| 
|NEO4J|

### Objectives:

### Below are a few examples of evaluating arithmetic expressions in Python
* a+b
* a%b
* a//b
* a**b

In [4]:
# This a simple arithmetic expression to mutiply then add integers
>>> (3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

print ( 200 // 60 )

3

## Author 
" Vicente Hurtado "